--CREATE DATABASE [PRJ301_SE1762_FA23]
USE [PRJ301_SE1762_FA23]
GO
/****** Object:  Table [dbo].[Categories_HE176091]    Script Date: 11/3/2023 2:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories_HE176091](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers_HE176091]    Script Date: 11/3/2023 2:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers_HE176091](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Role] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails_HE176091]    Script Date: 11/3/2023 2:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails_HE176091](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_HE176091]    Script Date: 11/3/2023 2:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_HE176091](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[date] [date] NOT NULL,
	[totalmoney] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_HE176091]    Script Date: 11/3/2023 2:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_HE176091](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Price] [float] NOT NULL,
	[Image] [nvarchar](1000) NOT NULL,
	[Quantity] [int] NOT NULL,
	[isContinue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories_HE176091] ([CategoryID], [CategoryName]) VALUES (1, N'Fresh Fruit')
INSERT [dbo].[Categories_HE176091] ([CategoryID], [CategoryName]) VALUES (2, N'Imported Fruit')
GO
SET IDENTITY_INSERT [dbo].[Customers_HE176091] ON 

INSERT [dbo].[Customers_HE176091] ([CustomerID], [FullName], [Email], [PhoneNumber], [Username], [Password], [Address], [Role]) VALUES (1, N'John Doe', N'johndoe@email.com', N'123-456-7890', N'johndoe123', N'password123', N'123 Main Street, City, Country', 0)
INSERT [dbo].[Customers_HE176091] ([CustomerID], [FullName], [Email], [PhoneNumber], [Username], [Password], [Address], [Role]) VALUES (2, N'tung', N'janesmith@email.com', N'987-654-3210', N'tung', N'123', N'456 Elm Street, Town, Country', 1)
INSERT [dbo].[Customers_HE176091] ([CustomerID], [FullName], [Email], [PhoneNumber], [Username], [Password], [Address], [Role]) VALUES (3, N'Alice Johnson', N'alice@email.com', N'555-123-7890', N'alicej', N'mysecret', N'789 Oak Avenue, Village, Country', 0)
SET IDENTITY_INSERT [dbo].[Customers_HE176091] OFF
GO
SET IDENTITY_INSERT [dbo].[Products_HE176091] ON 

INSERT [dbo].[Products_HE176091] ([ProductID], [ProductName], [CategoryID], [Description], [Price], [Image], [Quantity], [isContinue]) VALUES (1, N'Orange', 1, N'Oranges are a nutritional powerhouse, 
packed with vitamins and minerals. The most noteworthy of 
these is vitamin C, a water-soluble 
antioxidant that prevents cell damage.', 120000, N'https://www.allrecipes.com/thmb/y_uvjwXWAuD6T0RxaS19jFvZyFU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1205638014-2000-d0fbf9170f2d43eeb046f56eec65319c.jpg', 10, 0)
INSERT [dbo].[Products_HE176091] ([ProductID], [ProductName], [CategoryID], [Description], [Price], [Image], [Quantity], [isContinue]) VALUES (2, N'Blueberry', 1, N'Blueberries are often 
called a  superfood.  This small but mighty berry 
is loaded with nutrients . They may help lower blood 
pressure, prevent heart disease, improve memory, aid in e
xercise recovery, and more.', 130000, N'https://images-prod.healthline.com/hlcmsresource/images/AN_images/blueberries-1296x728-feature.jpg', 15, 0)
SET IDENTITY_INSERT [dbo].[Products_HE176091] OFF
GO
ALTER TABLE [dbo].[OrderDetails_HE176091]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders_HE176091] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails_HE176091]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products_HE176091] ([ProductID])
GO
ALTER TABLE [dbo].[Orders_HE176091]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers_HE176091] ([CustomerID])
GO
ALTER TABLE [dbo].[Products_HE176091]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories_HE176091] ([CategoryID])
GO
